@use 'base/mixins' as m;
@use 'base/variables' as v;

.modal{
 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .formulario{
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;

        //alinear horizontalmente
        margin: 0 auto;

        //Econderlo, aparece fuera del margen de la pantalla
        transform: translateY(-50vh);

        //Transicion, efecto de bajado
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        opacity: 0;

        legend{
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 2rem;

            //centrar texto
            text-align: center;
            display: block;
        }

        input[type="text"] {
            border: 1px solid v.$gris;
            border-radius: .5rem;
        }

        .campo{
            label{
                font-weight: bold;
            }
        }

        .opciones{
            display: flex;
            justify-content: space-between;
        }

        .submit-nueva-tarea{
            @include m.boton(v.$indigo, v.$blanco);
        }
        .cerrar-modal{
            @include m.boton(v.$naranja, v.$blanco);
        }

        &.animar{
        //centrar de arriva a abajo (alinear verticalmente)
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &.cerrar{
            transform: translateY(-200%);
            opacity: 0;
        }
    }
}